
<div class="partial-page" ng-init="contactForm.getContactById()">
	<div class="col-md-2"></div>

	<div class="col-md-8 col-xs-12 contact">
		<div class="contact-align col-xs-12">
		
		<div class="iconUser"><i class="fa fa-user logo" aria-hidden="true"></i></div>
		
			<form role="form" name="contactForm">
				<div ng-repeat="x in contactForm.contactList1">
				<h2>{{x.firstName}}&nbsp{{x.lastName}}</h2>
				<br>
				<h3><i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbsp{{x.phoneNo}}</h3>
				<br>
				<h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp{{x.location}}</h4>
				<br>
				<td>
				<a class="edit" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				</td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<td>
				<a class="edit" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</td>

			<br><br>
			<a href="#/Send/{{x.contactId}}" class="btn btn-success btn-lg">Send Message</a>
			<br><br> 
			</div>		
			</form>	
		</div>
	</div>

	<div class="col-md-2"></div>
	

</div>
