
<div class="partial-page">
	<div class="col-md-2"></div>

	<div class="col-md-8 col-xs-12 contact">
	<form role="form" name="contactForm">
		<div class="scrollable-content-vertical">
				<table class="table table-responsive" ng-show="contactForm.msgList">
					<thead>
						<tr>
						<td></td>
							<td class="messages">Name</td>
							<td class="messages">OTP Sent</td>
							<td class="messages">Date/Time</td>
						</tr>
					</thead>
					<tbody>
						 <tr ng-repeat="x in contactForm.msgList">
					<td><i class="fa fa-envelope-open contactIcon" style="font-size:2em; color:black;" aria-hidden="true"></i></td>
					<td>{{x.firstName}}&nbsp{{x.lastName}}</td>
							<td>{{x.messageDesc}}</td>
							<td>{{x.convDate}}</td>
						</tr> 
					</tbody>
				</table>
			</div>
</form>
	</div>
	
	<div class="col-md-2"></div>
	

</div>
