
<div class="partial-page" ng-init="contactForm.getOTP()">

	<div class="col-md-2"></div>

	<div class="col-md-8  contact">
		<div>
			<br> <br>
			<form role="form" name="contactForm">
				<textarea id="d" rows="5" cols="30" class="form-control"></textarea>

				<br> <br>
				<button class="btn btn-success btn-lg" id="sendB" ng-click="waitingSignal()">Send</button>
				<br><br>
				<div ng-if="!msg && flagSignal" >
					<i class="fa fa-spinner fa-spin fa-3x"></i> <br> <br>
					<span style="color:#f1595f; font-family: roboto sans-serif;">Please do not Refresh or click on Back button</span>
					</div>
			</form>
		</div>
	</div>

	<div class="col-md-2"></div>


	<div id="msg" class="w3-modal" >
		<div class="w3-modal-content w3-card-8"
			style="height: 100px; width: 700px;">
			<span ng-click="goIndex()" class="w3-button w3-display-topright">&times;</span>
			<div class="w3-container" style="background-color: #fff">
			<i class="fa fa-thumbs-up fa-5x" style="color: #5cb85c" aria-hidden="true"></i>
				<h3 class="success">{{msg}}</h3>
			</div>
		</div>
	</div>


</div>

